*{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
input,
button,
textarea{
    outline: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html,
body{
    height: 100%;
}
body {
    background: #F4F5F6;
    &.overflow {
        overflow-y: hidden;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 153px;
    overflow-x: hidden;
    @media screen and(max-width: 1199px) {
        padding-top: 80px;
    }
}
@import "fonts/dm_sans",
"layout/header",
"layout/main",
"layout/footer",
"layout/detail",
"layout/section",
"layout/mainSlider",
"layout/category",
"layout/basket",
"parts/buttons",
"parts/logo",
"parts/headerBasket",
"parts/headerPanel",
"parts/headerContacts",
"parts/headerSearch",
"parts/customSelect",
"parts/footerPay",
"parts/footerContacts",
"parts/footerSponsors",
"parts/filterSlider",
"parts/list",
"parts/menu",
"parts/widgets",
"parts/checkbox",
"blocks/scroll",
"blocks/settingСhoose",
"blocks/complectBlock",
"blocks/priceBlock",
"blocks/cartElement",
"blocks/sectionBlock",
"blocks/mainFilter",
"blocks/bradcrumbs",
"blocks/richContent",
"blocks/accessoriesItem",
"blocks/instructionsBlock",
"blocks/guideBlock",
"blocks/commentBlock",
"blocks/detailInfoBlock",
"blocks/basketAccessories",
"blocks/orderItem",
"blocks/wrapperBlock",
"blocks/offersBlocks",
"blocks/infoBlock",
"blocks/modals",
"blocks/polyBlock",
"blocks/basketItem",
"blocks/deliveryItem",
"blocks/postcodeBlock",
"blocks/discountBlock",
"blocks/itemBlock",
"blocks/mobileSort",
"blocks/reviewsBlock",
"blocks/textBlock",
"blocks/stars",
"blocks/tabs",
"blocks/navigation",
"blocks/tags",
"blocks/subscriptionBlock",
"blocks/categoryBlock",
"blocks/slidersBlock",
"blocks/basketBlock",
"blocks/benefitBlock";