.pay-systems {
    display: flex;
    align-items: center;
    @media screen and(max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        margin-right: 30px;
        @media screen and(max-width: 1024px) {
            margin-bottom: 20px;
            margin-right: 20px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}