.main-section-block {
    width: 100%;
    margin: 0px auto;
    display: flex;
    @media screen and(max-width: 1275px){
        flex-wrap: wrap;
    }
    &__left_block {
        width: 300px;
        @media screen and(max-width: 1366px){
            width: 230px;
        }
        @media screen and(max-width: 1275px){
            width: 100%;
        }
    }
    &__right_block {
        width: calc(100% - 330px);
        margin-left: 30px;
        @media screen and(max-width: 1366px){
            width: calc(100% - 260px);
        }
        @media screen and(max-width: 1275px){
            width: 100%;
            margin-left: 0px;
        }
    }
}
.section-grid {
    width: 100%;
    background: #ffffff;
    border-radius: 32px;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    @media screen and(max-width: 1275px){
        padding: 35px 35px 0px 35px;
        &:first-child{
            border-radius: 32px 32px 0px 0px;
        }
        &:last-child{
            border-radius: 0px 0px 32px 32px;
        }
    }
    @media screen and(max-width: 568px){
        padding: 15px 15px 0px 15px;
    }
    &--mt{
        margin-top: 20px;
    }
    &__col {
        display: flex;
        flex: 0 1 33.33%;
        padding: 0px 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
        @media screen and(max-width: 767px){
            flex: 0 1 50%;
        }
        &--full{
            flex: 0 1 100%;
        }
    }
    &__block{
        width: 100%;
        display: flex;
        &--margin{
            margin-bottom: 20px;
        }
    }
    &__row{
        margin: 0px -5px;
        display: flex;
        flex-wrap: wrap;
    }
    &__title{
        margin: 0px;
        letter-spacing: -0.02em;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        color: #404656;
        @media screen and(max-width: 1024px){
            font-size: 36px;
            line-height: 50px;
        }
    }
    &__count{
        margin-left: 20px;
        letter-spacing: -0.02em;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        color: #777E90;
        @media screen and(max-width: 1024px){
            font-size: 36px;
            line-height: 50px;
            margin-left: 10px;
        }
    }
}
.section-navigation{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and(max-width: 1024px){
        padding: 0px 35px;
    }
    @media screen and(max-width: 767px){
        flex-direction: column;
    }
    @media screen and(max-width: 568px){
        padding: 0px 15px;
    }
    &__button{
        max-width: 160px;
        width: 100%;
        height: 60px;
        background: #FFFFFF;
        border-radius: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #3F8167;
        margin-right: 30px;
        &:hover{
            color: #ffffff;
            background: #3F8167;
        }
        @media screen and(max-width: 1024px){
            height: 50px;
            font-size: 16px;
            line-height: 16px;
            max-width: 100%;
        }
        @media screen and(max-width: 767px){
            margin-bottom: 10px;
            margin-right: 0px;
            max-width: 408px;
        }
    }
}
.section-filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__row{
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        @media screen and(max-width: 1275px){
            display: none;
        }
        &--spacebetween{
            justify-content: space-between;
            @media screen and(max-width: 1275px){
                display: flex;
            }
        }
        .checkbox-2{
            margin-bottom: 10px;
        }
    }
    &__mobile_content{
        display: none;
        @media screen and(max-width: 1024px){
            display: block;
        }
    }
    &__mobile_group{
        display: flex;
        align-items: center;
    }
    &__group{
        margin-left: 30px;
        display: flex;
        align-items: center;
        @media screen and(max-width: 1275px){
            width: 100%;
            margin-left: 0px;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
}
.choise-items-slider{
    width: 100%;
    background: #C6E4C9;
    border-radius: 32px;
    padding: 20px;
    margin: 20px 0px;
    @media screen and(max-width: 1275px){
        border-radius: 0px;
        padding: 32px 34px 20px;
        margin: 0px;
    }
    @media screen and(max-width: 568px){
        padding: 32px 15px 20px;
    }
    &__title{
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.02em;
        color: #3F8167;
        svg{
            margin-left: 20px;
        }
        @media screen and(max-width: 1024px){
            font-size: 36px;
            line-height: 36px;
            svg{
                width: 34px;
                height: 32px;
            }
        }
    }
    &__container{
        margin-top: 20px;
        width: 100%;
        position: relative;
        .swiper-container{
            height: 632px;
            @media screen and(max-width: 1024px){
                height: 435px;
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and(max-width: 767px){
            .choise-items-slider__button{
                display: none;
            }
        }
    }
    &__button{
        height: 40px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 0px 20px;
        font-size: 18px;
        line-height: 26px;
        color: #3F8167;
        text-align: center;
    }
    &__navigation{
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        @media screen and(max-width: 767px){
            display: flex;
        }
    }
}