.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
    &__link {
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: #777e90;
        display: flex;
        align-items: center;
        &:after{
            content: '';
            display: block;
            width: 1px;
            height: 12px;
            background: #3F8167;
            margin: 0px 10px;
        }
        &.active{
            color: #404656;
            &:hover{
                color: #404656;
                text-decoration: none;
            }
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
        &:hover{
            color: #3F8167;
            text-decoration: underline;
        }
    }
}
