.tabs-category {
    &__nav {
        display: flex;
        justify-content: center;
    }
    &__element {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
        @media screen and(max-width: 1024px) {
            margin-right: 40px;
        }
        @media screen and(max-width: 568px) {
            margin-right: 15px;
        }
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            .tabs-category__image {
                background: #e1e1e1;
                img {
                    transform: scale(1);
                }
            }
            .tabs-category__name {
                text-decoration: underline;
            }
            &.active {
                .tabs-category__name {
                    text-decoration: none;
                }
            }
        }
        &.active {
            .tabs-category__image {
                border: 1px solid #3f8167;
                background: #f4f5f6;
                img {
                    transform: scale(1);
                }
            }
            .tabs-category__name {
                color: #3f8167;
            }
            .tabs-category__link {
                display: inline-block;
            }
        }
    }
    &__image {
        border: 1px solid transparent;
        box-sizing: border-box;
        transition: 0.3s ease-in-out;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #eaeaeb;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        @media screen and(max-width: 1024px) {
            margin-bottom: 10px;
        }
        @media screen and(max-width: 568px) {
            width: 75px;
            height: 75px;
        }
        img {
            transform: scale(0.95);
            transition: 0.3s ease-in-out;
            max-height: 100%;
            max-width: 100%;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #404656;
        @media screen and(max-width: 1024px) {
            font-size: 18px;
            line-height: 26px;
        }
        @media screen and(max-width: 568px) {
            font-size: 18px;
            line-height: 26px;
        }
    }
    &__link {
        display: none;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        text-decoration-line: underline;
        color: #777e90;
        transition: 0.2s ease-in-out;
        &:hover {
            color: #3f8167;
        }
        @media screen and(max-width: 1275px) {
            display: none !important;
        }
    }
    &__content {
        width: 100%;
    }
    &__container {
        max-width: 1370px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: relative;
        @media screen and(max-width: 1275px) {
            padding: 0px 34px;
            flex-wrap: wrap;
            justify-content: center;
            .swiper-button-next {
                order: 4;
                margin-right: 0;
            }
            .swiper-button-prev {
                order: 2;
                margin-left: 0px;
            }
        }
        @media screen and(max-width: 568px) {
            padding: 0px 15px;
        }
    }
    &__block {
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
    &__slider {
        max-width: 1070px;
        width: 100%;
        margin: 0px auto;
        padding: 60px 0px;
        box-sizing: border-box;
        @media screen and(max-width: 1275px) {
            padding: 40px 0px;
            order: 1;
            max-width: 100%;
        }
        .swiper-wrapper {
            height: auto;
        }
    }
    &__link_btn {
        display: none;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 50px;
        border: 1px solid #404656;
        box-sizing: border-box;
        border-radius: 8px;
        text-decoration: none;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #777e90;
        transition: 0.2s ease-in-out;
        &:hover {
            border: 1px solid #3f8167;
            background: #3f8167;
            color: #ffffff;
        }
        @media screen and(max-width: 1275px) {
            order: 4;
            display: flex;
        }
    }
}
.tabs-brand {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width: 1024px) {
        margin-top: 0px;
        order: 1;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #ffffff;
    }
    &__link {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        @media screen and(max-width: 1275px) {
            display: none;
        }
    }
    &__nav {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        background: #ffffff;
        border-radius: 20px;
        @media screen and(max-width: 1024px) {
            margin-top: 20px;
            flex-direction: column;
            background: transparent;
        }
    }
    &__element {
        position: relative;
        z-index: 2;
        cursor: pointer;
        padding: 0px 20px;
        border-right: 2px solid #c9ceda;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
            border-right: 0px;
        }
        &:hover {
            .tabs-brand__name {
                text-decoration: underline;
                text-decoration-color: #3f8167;
                @media screen and(max-width: 1024px) {
                    text-decoration-color: #ffffff;
                }
            }
        }
        &.active {
            height: 40px;
            background: #3f8167;
            border-radius: 20px;
            @media screen and(max-width: 1024px) {
                border-radius: 0px;
                background: transparent;
                height: auto;
            }
            &:before {
                content: "";
                height: 40px;
                width: 80px;
                border-radius: 20px;
                background: #3f8167;
                position: absolute;
                z-index: 1;
                left: -10px;
                @media screen and(max-width: 1024px) {
                    width: 14px;
                    height: 14px;
                    margin-right: 10px;
                    border-radius: 50%;
                    left: 0;
                    background: #ffffff url("/img/check.svg") no-repeat;
                    background-position: center;
                    background-size: 9px;
                }
            }
            &:after {
                content: "";
                height: 40px;
                width: 80px;
                border-radius: 20px;
                background: #3f8167;
                position: absolute;
                z-index: 1;
                right: -10px;
                @media screen and(max-width: 1024px) {
                    display: none;
                }
            }
            .tabs-brand__name {
                color: #ffffff;
            }
        }
        @media screen and(max-width: 1024px) {
            margin-bottom: 10px;
            margin-right: 0px;
            border-right: 0px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    &__name {
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 18px;
        line-height: 14px;
        color: #404656;
        @media screen and(max-width: 1024px) {
            color: #ffffff;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            text-decoration: underline;
        }
    }
    &__block {
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
    &__content {
        width: 100%;
    }
    &__link_btn {
        display: none;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 50px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 8px;
        text-decoration: none;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #ffffff;
        transition: 0.2s ease-in-out;
        &:hover {
            border: 1px solid #3f8167;
            background: #3f8167;
            color: #ffffff;
        }
        @media screen and(max-width: 1275px) {
            order: 4;
            display: flex;
        }
    }
    &__container {
        max-width: 1370px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: relative;
        @media screen and(max-width: 1275px) {
            padding: 0px 34px;
            flex-wrap: wrap;
            justify-content: center;
            .swiper-button-next {
                order: 4;
                margin-right: 0;
            }
            .swiper-button-prev {
                order: 2;
                margin-left: 0px;
            }
        }
        @media screen and(max-width: 568px) {
            padding: 0px 15px;
        }
    }
    &__slider {
        max-width: 1070px;
        width: 100%;
        margin: 0px auto;
        padding: 60px 0px;
        box-sizing: border-box;
        @media screen and(max-width: 1275px) {
            padding: 40px 0px;
            order: 1;
            max-width: 100%;
        }
        .swiper-wrapper {
            height: auto;
        }
    }
}
.tabs-items{
    margin-top: 80px;
    &__nav{
        display: flex;
        justify-content: center;
        @media screen and(max-width: 767px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            max-width: 568px;
            width: 100%;
            margin: 0px auto;
        }
    }
    &__element{
        margin-right: 20px;
        height: 60px;
        background: #EAEAEB;
        border-radius: 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        color: #404656;
        text-decoration: underline;
        text-decoration-color: #3F8167;
        padding: 0px 30px;
        transition: 0.2s ease-in-out;
        @media screen and(max-width: 1275px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media screen and(max-width: 1024px) {
            max-width: 220px;
            text-decoration: none;
        }
        @media screen and(max-width: 767px) {
            margin-right: 0px;
            max-width: 100%;
            width: 100%;
            border-radius: 0px;
            border-bottom: 1px solid #C9CEDA;
            &:first-child{
                border-radius: 12px 12px 0px 0px;
            }
            &:last-child{
                border-radius: 0px 0px 12px 12px;
                border-bottom: 0px;
            }
        }
        &:hover{
            background: #DCDCE0;
            text-decoration: none;
        }
        &:last-child{
            margin-right: 0px;
        }
        &.active{
            background: #3F8167;
            color: #ffffff;
            text-decoration: none;
            
            svg{
                fill: #ffffff;
            }
        }
        svg{
            transition: 0.2s ease-in-out;
            margin-right: 15px;
            fill: #404656;
            @media screen and(max-width: 1024px) {
                display: none;
            }
        }
    }
    &__content{
        margin-top: 60px;
        width: 100%;
    }
    &__block{
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
}
.tabs-auth{
    &__nav{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    &__element{
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        color: #404656;
        text-decoration: underline;
        text-decoration-color: #3f8167;
        margin-right: 20px;
        &:last-child{
            margin-right: 0px;
        }
        &.active{
            color: #3F8167;
            text-decoration: none;
        }
    }
    &__content{
        margin-top: 60px;
        width: 100%;
    }
    &__block{
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
    &__page{
        display: none;
        &.active{
            display: block;
        }
    }
}
.tabs-detail{
    background: #EAEAEB;
    border-radius: 36px;
    padding: 63px 40px 80px;
    margin-bottom: 80px;
    &__mobile_nav{
        display: none;
        @media screen and(max-width: 1024px) {
            display: block;
        }
    }
    &__nav{
        margin: 0px auto;
        width: max-content;
        display: flex;
        align-items: center;
        border-radius: 12px;
        background: #ffffff;
        height: 60px;
        padding: 3px;
        display: flex;
        justify-content: center;
        @media screen and(max-width: 1024px) {
            display: none;
        }
    }
    &__element{
        cursor: pointer;
        padding: 0px 40px;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        color: #404656;
        height: 100%;
        border-radius: 9px;
        background: #ffffff;
        text-decoration: underline;
        text-decoration-color: #3F8167;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.2s ease-in-out;
        margin-right: 3px;
        @media screen and(max-width: 1275px) {
            font-size: 16px;
            line-height: 18px;
        }
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            text-decoration: none;
            background: #E2E2E2;
        }
        &.active{
            text-decoration: none;
            background: #3F8167;
            color: #ffffff;
        }
    }
    &__content{
        margin-top: 80px;
        width: 100%;
        @media screen and(max-width: 1024px) {
            margin-top: 60px;
        }
    }
    &__block{
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }
}
.tabs-accessories-mobile-nav,
.tabs-detail-mobile-nav {
    display: none;
    margin: 0px auto;
    max-width: 340px;
    width: 100%;
    height: 50px;
    background: #F4F5F6;
    border-radius: 8px;
    position: relative;
    @media screen and(max-width: 1024px) {
        display: block;
    }
    &.open{
        border-radius: 8px 8px 0px 0px;
        .tabs-accessories-mobile-nav__content,
        .tabs-detail-mobile-nav__content{
            display: flex;
        }
        .tabs-accessories-mobile-nav__icon,
        .tabs-detail-mobile-nav__icon{
            svg{
                transform: rotate(-180deg);
            }
        }
    }
    &__selected {
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-weight: bold;
        padding-left: 38px;
        font-size: 16px;
        line-height: 16px;
        color: #404656;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon{
        margin: 0px 30px;
        svg{
            transition: 0.3s ease-in-out;
            fill: #404656;
        }
    }
    &__content {
        width: 100%;
        background: #F4F5F6;
        border-radius: 0px 0px 8px 8px;
        position: absolute;
        z-index: 5;
        display: none;
        flex-direction: column;
        padding: 20px 38px 30px 38px;
    }
    &__element {
        cursor: pointer;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #404656;
        transition: 0.2s ease-in-out;
        &:last-child{
            margin-bottom: 0px;
        }
        &.active{
            color: #3F8167;
        }
        &:hover{
            color: #3F8167;
        }
    }
}
.tabs-accessories {
    &__nav{
        margin: 0px auto;
        width: max-content;
        display: flex;
        align-items: center;
        border-radius: 12px;
        background: #ffffff;
        height: 60px;
        padding: 3px;
        display: flex;
        justify-content: center;
        @media screen and(max-width: 1024px) {
            display: none;
        }
    }
    &__element{
        cursor: pointer;
        padding: 0px 40px;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        color: #404656;
        height: 100%;
        border-radius: 9px;
        background: #ffffff;
        text-decoration: underline;
        text-decoration-color: #3F8167;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.2s ease-in-out;
        margin-right: 3px;
        @media screen and(max-width: 1275px) {
            font-size: 16px;
            line-height: 18px;
        }
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            text-decoration: none;
            background: #E2E2E2;
            text-decoration-color: transparent;
        }
        &.active{
            text-decoration: none;
            background: #3F8167;
            color: #ffffff;
        }
    }
    &__content{
        margin-top: 80px;
        width: 100%;
        @media screen and(max-width: 1024px) {
            margin-top: 60px;
        }
    }
    &__block{
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: 0.4s ease-in-out;
        &.hide {
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
        .items-slider{
            margin-top: 0px;
        }
    }
}